
<div class="main_section">
   <div class="container">
      <div class="chat_container">
         <div class="col-sm-3 chat_sidebar">
    	 <div class="row">
            <div id="custom-search-input">
               <div class="input-group col-md-12" style="text-align:center">U S E R S</div>
            </div>
            <div class="member_list">
               <ul id="asd" class="list-unstyled">
                   
               </ul>
            </div></div>
         </div>
         <!--chat_sidebar-->
		 
         <div class="col-sm-9 message_section">
		 <div class="row">
		 <div class="new_message_head"><div class="name" id="name"><p id="selectedUser" style="padding-left: 110px;"></p></div>
		 </div><!--new_message_head-->
		 
		 <div class="chat_area">
            <div class="menu" style="visibility:hidden"><div class="name" id="name"></div></div>
		 <ul class="list-unstyled" id="chat">
		 </ul>
 
         <div id="feedback" style="margin-left: 30px"></div>
    
		 </div><!--chat_area-->
         <div class="message_write">
    	 <textarea class="form-control" id="text" placeholder="type a message" onkeyup="myFunction(event)"></textarea>
		 <div class="clearfix"></div>
		 <div class="chat_bottom">
            <button  class="pull-right btn btn-success" id="btnId" onclick="send()">Send</button>
         </div>
		 </div>
		 </div>
         </div> <!--message_section-->
      </div>
   </div>
</div>

<script>
    var name = document.getElementById('sessionUserName').innerText;
    var other = "";
    var feedback = document.getElementById('feedback');
    var chat = document.getElementById('chat');
    var sayac = 0;
    var selectedUser = document.getElementById('selectedUser');
    var socket = new WebSocket("ws://10.254.17.7:3000?key="+name);
    listUsers();
    function connect(a){
        socket.onopen = function(){
            socket.send(JSON.stringify({
                type: "name",
                name: name,
                other: a
            }));
        }
        
        socket.onmessage = function(event){
            console.log(event);
            var json = JSON.parse(event.data);
            if(name == json.other && other == json.name){
                feedback.innerHTML = "";
                chat.innerHTML += "<li class='left clearfix admin_chat'><div class='chat-body1 clearfix'><p>"+json.data+"</p></div></li>";
            }
            if(json.type == "message" && json.other == name ){
                feedback.innerHTML = "";
                readbackfunction(json);
            }
            if(json.type == "forwarded"  && json.name == name){
                feedback.innerHTML = "<p> Forwarded ! </p>";
                
            }
            /*if(json.type == "typing" && json.other == other) {
                feedback.innerHTML = "";
                feedback.innerHTML = "<span>"+ json.other + " typing...";
            }*/
            if(json.type == "viewedinfo"){
                console.log("info");
            }
        }
        socket.onclose = function(event){
            console.log("Closed: " + event);
            feedback.innerHTML = "<span>You are disconnected! Please check your internet connection.</span>"
            setTimeout(connect(other), 2500);
            userClose();
        }
        
        socket.onerror = function(event){
            console.error("Error: " + event);
        }
        
        socket.readyState = function(event){
            console.log("State: " + event);
        }
    }
    function send(){
        var text = document.getElementById('text').value;
        document.getElementById('text').value = ""; 
        socket.send(JSON.stringify({
            type: "message",
            data: text,
            other: other,
            name: name
        }));
        feedback.innerHTML = "";
        chat.innerHTML +="<li class='left clearfix'><div class='chat-body1 clearfix'><p>"+text+"</p></div></li>";
    }
    function myFunction(e) { 
    if (e.keyCode == 13) { 
        send();
        } 
        
    }
    function readbackfunction(json){
        socket.send(JSON.stringify({
        type: "read",
        name: json.other,
        other: json.name
        })); 
        if(document.hidden === false){
            viewedfunction();
        }
    } 
    function typing(){
        socket.send(JSON.stringify({
            type: "typing",
            name: name ,
            other: other
        }));
    }
    var message = document.getElementById('text');
    message.addEventListener('keypress', function() {
        typing();
    });
    function viewedfunction(){
        document.addEventListener('visibilitychange', function(){
                socket.send(JSON.stringify({
                    type: "viewed",
                    name: name,
                    other: other
                }));
        });
    }
    function userClose(json){
        socket.send(JSON.stringify({
        type: "userClose",
        name: json.other,
        other: json.name
        }));
    }


   function listUsers() {
        fetch("http://10.254.17.7:3000/getUsers") 
            .then(function(res) {
                if(res.ok){
                res.json().then(function(data){
                    var xxx = "";
                    for(var index in data) {
                      if(name != data[index].username){
                            xxx += '<li class="left clearfix" id="selectUser" onclick="getWebsocket2(\''+ data[index].username + '\')" >' +
                            '<div class="chat-body clearfix">' +
                                '<div class="header_sec">' +
                                '<span class="primary-font" >' + data[index].username + '</span>' +
                                '</div>' +
                        '</div>' +
                        '</li>';
                      }
                    }
                    document.getElementById("asd").innerHTML = xxx;
                });
                }
            })
    }

    setInterval(disconnect,2500);

    function disconnect(){
        if(!navigator.onLine){
            feedback.innerHTML = "<span>You are disconnected! Please check your internet connection.</span>"
        }
        else{
            connect(other); 
            feedback.innerHTML = "";
        }
}

    function getWebsocket2(a){
        chat.innerHTML = "";
        feedback.innerHTML = "";
        other = a;
        selectedUser.innerText = other;
        console.log(other);
        socket.send(JSON.stringify({
                type: "name",
                name: name,
                other: a
            }));
            
        connect(other);
    }
</script>