<h2 class="page-header">Register</h2>
{{#if user}}
        <div class="alert alert-danger">Username has taken already try new</div> 
{{/if}}
{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}
<form method="post" action="/users/register">
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" placeholder="Username" name="username">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" placeholder="Password" name="password" pattern=".{5,10}" required title="Password must be between 5-10 characters.">
  </div>
  <div class="form-group">
    <label>Confirm Password</label>
    <input type="password" class="form-control" placeholder="Password" name="password2" pattern=".{5,10}" required title="Password must be between 5-10 characters.">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>